.Tab {
  padding: 4px 4px;
  border: 2px solid hsla(0, 0%, 80%, 50%);
  border-radius: 10px;
  background-color: hsl(0, 0%, 96%);
  display: flex;
  flex-direction: row; 
}
.Tab.view-details {
  height: 32px;
  width: 100%;
}
.Tab.view-mosaic {
  height: 128px;
  width: 128px;
}

.tab_favIcon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;  
}
.tab_favIcon.view-details {
  width: 32px;
  height: 32px;
}
.tab_favIcon.view-mosaic {
  width: 128px;
  height: 128px;
}

.tab_text.view-details {
  display: block;
}
.tab_text.view-mosaic {
  display: none;
}