.Window {
  display: flex;
  width: 100%;
  padding: 8px 8px;
  border: 4px solid blue;
  border-radius: 20px;
}

.Window.view-details {
  flex-direction: column; 
}
.Window.view-mosaic {
  flex-direction: row;
  flex-wrap: wrap;
}