/*
  Source https://codepen.io/mandelid/pen/vwKoe
*/
.spinner {
  display: inline-block;
  margin-top: -5px;
  margin-left: -5px; 
  width: 100%;
  height: 100%;
  border: 5px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: blue;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}